/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#ECE4B7;   /* background color */
	color: #D2;          /* text color for the entire page */
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	
	text-align:center;     /* centers h1 and h2 content */
		
}

	
/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
.wrapper {
	width:500px;

	margin: auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:5px;
	text-align:left;
	font-size:16px;
	background-color:#446C04;
	color: white;
	
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
	
}

.warning {
	background-color: #FBB8C4;
	padding: 6px;
	border-radius:12px;	
}

.material-icons {
	color:brown;
	font-size:1.5em;
}

